body {
  margin: 0;
  height: 100vh;
  overflow-y: hidden;
}
.App {
  display: block;
}
.first-slide{
  background-image: url(./images/kevin-angelso-DXjEc3tSt8M-unsplash.avif);
  background-attachment: fixed;
  background-size: cover;
  box-shadow: inset 1px 1px 1px 7px black;
  display: block;
  position: relative;
  height: 100vh;
  margin: 0;
  > h1 {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-size: 2rem;
    margin: 0;
    font-weight: 600;
  }
}
.btn-el-second, .btn-el-first, .btn-el-third {
  color: black;
  background-color: rgba(245, 245, 245, 0.9);
  border: none;
  border-radius: 20px;
  padding: 0.5em 1em;
  font-size: 1.2em;
  cursor: pointer;
  margin-top: 50px;
  display: inline-block;
  position: absolute;
}
.btn-el-second, .btn-el-third {
  top: 80%;
  left: 80%;
  transform: translate(-50%, -50%);
}
.btn-el-first {
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.second-slide, .third-slide, .fourth-slide {
  position: absolute;
  top: 100vh;
  left: 0;
  text-align: center;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  > h1 {
    margin: 0;
    border-radius: 10px;
    width: 80%;
    display: inline-block;
    position: absolute !important;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-weight: 600;
    font-size: 2rem;
  }
}
.swiper {
  width: 100%;
  height: 30%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.swiper-slide {
  width: 100%;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.swiper-button-next, .swiper-button-prev {
  color: white !important;
}
.swiper-pagination-bullet-active { background: white !important; }
.third-slide {
  > h1 {
    top: 30%;
    left: 50%;
  }
}
.fourth-slide {
  > h1 {
    width: 90%;
    top: 30%;
    left: 50%;
    text-align: center;
  }
}
.map-container {
  width: 80%;
  height: 25%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer {
  opacity: 0.8;
  position: absolute;
  top: 85%;
  left: 80%;
  color: whitesmoke;
  font-weight: 200;
}