
* {
  overflow-y: hidden;
}

body {
  margin: 0;
  height: 100vh;
  overflow-y: hidden;
}
.App {
  display: block;
}
.first-slide{
  background-image: url(./images/kevin-angelso-DXjEc3tSt8M-unsplash.jpg);
  background-attachment: fixed;
  background-size: cover;
  box-shadow: inset 1px 1px 1px 7px black;
  display: block;
  position: relative;
  height: 100vh;
  margin: 0;
  > p {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-size: 2rem;
    margin: 0;
    font-weight: 600;
  }
}
.btn-el-second, .btn-el-first, .btn-el-third {
  color: black;
  background-color: rgba(245, 245, 245, 0.9);
  border: none;
  border-radius: 20px;
  padding: 0.5em 1em;
  font-size: 1.2em;
  cursor: pointer;
  margin-top: 50px;
  display: inline-block;
  position: absolute;
}
.btn-el-second {
  top: 80%;
  left: 80%;
  transform: translate(-50%, -50%);
}
.btn-el-first {
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.second-slide {
  position: absolute;
  top: 100vh;
  left: 0;
  text-align: center;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  > p {
    margin: 0;
    border-radius: 10px;
    width: 80%;
    display: inline-block;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-weight: 600;
    font-size: 2rem;
  }
}
.carousel-container {
  display: flex;
  justify-content: center;
  margin: auto;
  position: relative;
  top: 55%;
  left: 50%;
  overflow-x: auto;
  overflow-y: hidden;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 8rem;
}
.carousel {
  overflow-x: auto;
  display: flex;
  justify-content: space-around;
  width: max-content;
  width: 100%;
  border-radius: 7px;
  > div {
    flex: 0 0 auto;
    width: 80%;
    position: relative;
    margin-right: 7px;
    margin-left: 7px;
  }
}
.carousel > div img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  object-position: center center;
  cursor: pointer;
  background-color: gray;
}
.btn-right, .btn-left {
  position: absolute;
  top: 75%;
}
.btn-right {
  left: 60%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
}
.btn-left {
  left: 40%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
}
i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.third-slide {
  position: absolute;
  top: 100vh;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  > p {
    margin: 0;
    border-radius: 10px;
    width: 80%;
    display: inline-block;
    position: absolute !important;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-weight: 600;
    font-size: 2rem;
  }
}
.image-container{
  display: flex;
  position: absolute !important;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: gray;
  height: 20%;
  width: 80%;
  border-radius: 3px;
  overflow-x: hidden;
  > img {
    flex: 0 0 auto;
    width: 100%;
    position: relative;
    filter: grayscale(40%);
  } 
}
.btn-go-left,
.btn-go-right {
  overflow: hidden;
  padding: 0.5rem 1rem;
  background-color: whitesmoke;
  color: black;
  border: none;
  display: inline-block;
  font-size: 1.2em;
  padding: 5px 10px;
  position: absolute;
  top: 70%;
  border-radius: 3px;
  opacity: 0.7;
  transform: translate(-50%, -50%);
  z-index: 6;
}
.btn-go-left {
  left: 43%;
}
.btn-go-right {
  left: 56%;
}
.btn-el-third {
  top: 80%;
  left: 80%;
  transform: translate(-50%, -50%);
}
.fourth-slide {
  position: absolute;
  top: 100vh;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  > p {
    margin: 0;
    border-radius: 10px;
    width: 90%;
    display: inline-block;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
  }
}
.map-container {
  width: 80%;
  height: 25%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer {
  opacity: 0.8;
  position: absolute;
  top: 85%;
  left: 80%;
  color: whitesmoke;
  font-weight: 200;
}